.idea/*
.tox/*
.DS_Store
.pytest_cache/**
.idea/*
.tox/*
*.pyc
data/*
raw/*
jupyter/.ipynb_checkpoints/*
*.egg-info
build/*
dist/*
env/*
jupyter/2019-09.txt
jupyter/2019-11.txt
.coverage
git_processor/other.txt
docs/20*.txt
*/.ipynb_checkpoints/*
